#build
/ApplozicXamarinWrapper/ApplozicXamarinWrapper/obj/
/ApplozicXamarinWrapper/ApplozicXamarinWrapper/bin/
/XamarinApplozicDemo/XamarinApplozicDemo/obj/
/XamarinApplozicDemo/XamarinApplozicDemo/bin/

packages/
TestResults/

*.dll

*.dll

*.dylib
